<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >


    <listeners>
        <listener class-name="config.Listners"/>
    </listeners>


  <test  name="BritishWeb HomePage Test">

    <classes>      	  
      <class name="testpages.BritishWeb_HomepageTest"/>
    </classes>
  </test>


  <test  name="BritishWeb Page Add_To_Cart Test">
  
    <classes>      	  
      <class name="testpages.BritishWeb_AddToCartTest"/>
    </classes>
  </test>

</suite> <!-- Suite -->
